---
# Packages role - APT package management
# Replaces libapt.sh functions

- name: Packages | Configure APT proxy
  ansible.builtin.template:
    src: apt-proxy.conf.j2
    dest: /etc/apt/apt.conf.d/01proxy
    owner: root
    group: root
    mode: "0644"
  when: packages_apt_proxy | length > 0
  become: true

- name: Packages | Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: "{{ packages_cache_valid_time }}"
  become: true
  when: packages_update_cache | bool

- name: Packages | Install base packages
  ansible.builtin.apt:
    name: "{{ packages_base }}"
    state: present
  become: true
  when: packages_base | length > 0

- name: Packages | Add PPAs
  ansible.builtin.apt_repository:
    repo: "ppa:{{ item }}"
    state: present
    update_cache: true
  loop: "{{ packages_ppas }}"
  become: true
  when: packages_ppas | length > 0

- name: Packages | Add APT signing keys
  ansible.builtin.get_url:
    url: "{{ item.key_url }}"
    dest: "/etc/apt/keyrings/{{ item.name }}.asc"
    mode: "0644"
  loop: "{{ packages_apt_keys }}"
  become: true
  when: packages_apt_keys | length > 0

- name: Packages | Add APT repositories
  ansible.builtin.apt_repository:
    repo: "{{ item.repo }}"
    state: present
    filename: "{{ item.name }}"
    update_cache: true
  loop: "{{ packages_apt_repositories }}"
  become: true
  when: packages_apt_repositories | length > 0

- name: Packages | Install additional packages
  ansible.builtin.apt:
    name: "{{ packages_additional }}"
    state: present
  become: true
  when: packages_additional | length > 0

- name: Packages | Install packages from .deb files
  ansible.builtin.apt:
    deb: "{{ item.url }}"
    state: present
  loop: "{{ packages_deb_files }}"
  become: true
  when: packages_deb_files | length > 0

- name: Packages | Remove unwanted packages
  ansible.builtin.apt:
    name: "{{ packages_purge }}"
    state: absent
    purge: true
  become: true
  when: packages_purge | length > 0

- name: Packages | Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
  become: true
  when: packages_upgrade | bool
