---
# Sway role handlers

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
  listen: Reload systemd daemon

- name: Reload udev rules
  ansible.builtin.shell:
    cmd: udevadm control --reload-rules && udevadm trigger
  become: true
  listen: Reload udev rules

- name: Sway | Reload udev rules
  ansible.builtin.shell:
    cmd: udevadm control --reload-rules && udevadm trigger
  become: true
  listen: Sway | Reload udev rules

- name: Restart xdg-desktop-portal
  ansible.builtin.systemd:
    name: xdg-desktop-portal
    scope: user
    state: restarted
  become: false
  listen: Restart xdg-desktop-portal
  ignore_errors: true  # May fail if not in a graphical session

- name: Update font cache
  ansible.builtin.command:
    cmd: fc-cache -fv
  become: false
  listen: Update font cache
  ignore_errors: true  # May fail due to corrupted font directories on target system

- name: Sway | Update desktop database
  ansible.builtin.command:
    cmd: update-desktop-database "/home/{{ sway_username }}/.local/share/applications"
  become: true
  become_user: "{{ sway_username }}"
  listen: Sway | Update desktop database

- name: Restart greetd
  ansible.builtin.systemd:
    name: greetd
    state: restarted
  become: true
  listen: Restart greetd
  # Don't fail if greetd is not running (e.g., during initial setup)
  failed_when: false
