[Desktop Entry]
Name=Sway (Nix)
Comment=An i3-compatible Wayland compositor (installed via Nix)
Exec=/usr/local/bin/sway-session
TryExec=/usr/local/bin/sway-session
Type=Application
DesktopNames=sway;wlroots
